.DS_Store

# We don't care about test outputs
tests/*/junit/
tests/*/conjur.pem
tests/*/access_token

# We should never check in pycache directories
**/__pycache__/

# Distributable files should not be included in the repo
*.tar.gz

# ansible-conjur-host-identity
*.log
.cache
*.retry
.idea/
*.pyc
**/.molecule/
**/test-files/output
junit
molecule/conjur.pem
*.tmp
vendor/
.pytest_cache
