# System directories files
.DS_Store
.idea/

# Test output
tests/*/bot/
tests/*/coverage/
tests/*/junit/
tests/*/reports/

tests/*/conjur.pem
tests/*/conjur-enterprise.pem
tests/*/access_token
**/test-files/output
**/conjur-intro/
bot
coverage
junit
reports

*.js
*.html
output/

# Pycache directories and files
**/__pycache__/
.pytest_cache
*.pyc

# Distributable directories files
*.tar.gz
vendor/

# Temporary files
*.log
.cache
*.retry
*.tmp
conjur.pem
