# System directories files
.DS_Store
.idea/

# Test output
tests/*/coverage/
tests/*/junit/
tests/*/reports/
tests/*/conjur.pem
tests/*/access_token
**/test-files/output
coverage
junit
reports

# Pycache directories and files
**/__pycache__/
.pytest_cache
*.pyc

# Distributable directories files
*.tar.gz
vendor/

# Temporary files
*.log
.cache
*.retry
*.tmp
conjur.pem
